@charset "UTF-8";

body, input, button {
  font-family: 'Quicksand', sans-serif;
}

body, header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  @media: 100%;
}

body {
  /* Old: #e6e6e6 */
  background: FFFFFF;
  padding: 80px 0 0 0;
}

header {
  width: 100%;
  height: 80px;
  /* Old: #399adb */
  background: #cf995f;
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  top: 0;
  left: auto;
  right: auto;
  margin-bottom: 10px;
  z-index: 5;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75)
}

header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border: 1px solid #dbad6a;
  /* Old: #61AEE2 */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fff;
  cursor: pointer;
}

header button svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}

header button svg .fill {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  /* Old: #61AEE2 */
  fill: #dbad6a;
}

header button:hover svg .fill {
  fill: #38a83d;
}

.container {
  width: 100%;
  float: left;
}

ul.todo {
  width: 100%;
  float: left;
}

ul.todo li {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;
  position: relative;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
}

ul.todo li:last-of-type {
  margin: 0;
}

ul.todo li .buttons {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

ul.todo li .buttons button.complete svg {
  border-radius: 14px;
  border: 2px solid #6cad6e;
}

ul.todo li .buttons button.complete svg .fill {
  fill: #6cad6e;
}

ul.todo li .buttons button.complete:hover svg {
  border-radius: 14px;
  border: 2px solid #6cad6e;
}

ul.todo li .buttons button.complete:hover svg .fill {
  fill: #6cad6e;
}

ul.todo#complete:not(:empty) {
  position: relative;
  padding: 60px 0 0 0;
}

ul.todo#complete:not(:empty):before {
  content: '';
  width: 150px;
  height: 1px;
  background: #edf0f1;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
}

ul.todo:not(#complete) li .buttons button.complete:hover svg {
  background: rgba(56, 168, 61, 0.5);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

ul.todo:not(#complete) li .buttons button.complete:hover svg .fill {
  fill: #fff;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

ul.todo#complete li .buttons button.complete svg {
  border-radius: 14px;
  border: 2px solid #6cad6e;
}

ul.todo#complete li .buttons button.complete svg {
  background: #6cad6e;
}

ul.todo#complete li .buttons button.complete svg .fill {
  fill: #FFFFFF;
}

ul.todo li .buttons button:last-of-type::before {
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #edf0f1;
}

ul.todo li .buttons button.complete svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.remove svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button svg .fill {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
  fill: #a5aeb8;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}